################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# DLL ve derleme dosyalarını hariç tut
*.dll
*.exe
*.pdb

# Bin ve obj klasörlerini hariç tut
/bin/
/obj/

/.vs
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.csproj.AssemblyReference.cache
/HotelFinder.Business/obj/Debug/net6.0/HotelFinder.Business.csproj.AssemblyReference.cache
/.gitignore
/HotelFinder.API/bin/Debug/net6.0/HotelFinder.API.exe
/HotelFinder.API/bin/Debug/net6.0/HotelFinder.API.dll
/HotelFinder.API/bin/Debug/net6.0/HotelFinder.API.pdb
/HotelFinder.API/bin/Debug/net6.0/HotelFinder.Business.dll
/HotelFinder.API/bin/Debug/net6.0/HotelFinder.DataAcces.dll
/HotelFinder.API/bin/Debug/net6.0/HotelFinder.Business.pdb
/HotelFinder.API/bin/Debug/net6.0/HotelFinder.DataAcces.pdb
/HotelFinder.API/obj/Debug/net6.0/ref/HotelFinder.API.dll
/HotelFinder.API/obj/Debug/net6.0/refint/HotelFinder.API.dll
/HotelFinder.API/obj/Debug/net6.0/HotelFinder.API.AssemblyInfo.cs
/HotelFinder.API/obj/Debug/net6.0/apphost.exe
/HotelFinder.API/obj/Debug/net6.0/HotelFinder.API.AssemblyInfoInputs.cache
/HotelFinder.API/obj/Debug/net6.0/HotelFinder.API.csproj.AssemblyReference.cache
/HotelFinder.API/obj/Debug/net6.0/HotelFinder.API.dll
/HotelFinder.API/obj/Debug/net6.0/HotelFinder.API.pdb
/HotelFinder.API/obj/Debug/net6.0/HotelFinder.API.sourcelink.json
/HotelFinder.Business/bin/Debug/net6.0/HotelFinder.Business.dll
/HotelFinder.Business/bin/Debug/net6.0/HotelFinder.Business.pdb
/HotelFinder.Business/bin/Debug/net6.0/HotelFinder.DataAcces.dll
/HotelFinder.Business/bin/Debug/net6.0/HotelFinder.DataAcces.pdb
/HotelFinder.Business/obj/Debug/net6.0/ref/HotelFinder.Business.dll
/HotelFinder.Business/obj/Debug/net6.0/HotelFinder.Business.AssemblyInfo.cs
/HotelFinder.Business/obj/Debug/net6.0/HotelFinder.Business.AssemblyInfoInputs.cache
/HotelFinder.Business/obj/Debug/net6.0/HotelFinder.Business.assets.cache
/HotelFinder.Business/obj/Debug/net6.0/HotelFinder.Business.csproj.AssemblyReference.cache
/HotelFinder.Business/obj/Debug/net6.0/HotelFinder.Business.dll
/HotelFinder.Business/obj/Debug/net6.0/HotelFinder.Business.GeneratedMSBuildEditorConfig.editorconfig
/HotelFinder.Business/obj/Debug/net6.0/HotelFinder.Business.pdb
/HotelFinder.Business/obj/Debug/net6.0/HotelFinder.Business.sourcelink.json
/HotelFinder.Business/obj/Debug/net6.0/refint/HotelFinder.Business.dll
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.AssemblyInfo.cs
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.AssemblyInfoInputs.cache
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.assets.cache
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.csproj.AssemblyReference.cache
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.dll
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.GeneratedMSBuildEditorConfig.editorconfig
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.genruntimeconfig.cache
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.pdb
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.sourcelink.json
/HotelFinder.DataAcces/obj/Debug/net6.0/refint/HotelFinder.DataAcces.dll
/HotelFinder.Entities/obj/Debug/net6.0/HotelFinder.Entities.assets.cache
/HotelFinder.DataAcces/bin/Debug/net6.0/HotelFinder.DataAcces.dll
/HotelFinder.DataAcces/bin/Debug/net6.0/HotelFinder.DataAcces.pdb
/HotelFinder.DataAcces/obj/Debug/net6.0/ref/HotelFinder.DataAcces.dll
/HotelFinder.DataAcces/obj/Release/net6.0/HotelFinder.DataAcces.AssemblyInfo.cs
/HotelFinder.DataAcces/obj/Release/net6.0/HotelFinder.DataAcces.AssemblyInfo.cs
/HotelFinder.DataAcces/obj/Release/net6.0/HotelFinder.DataAcces.AssemblyInfoInputs.cache
/HotelFinder.DataAcces/obj/Release/net6.0/HotelFinder.DataAcces.assets.cache
/HotelFinder.DataAcces/obj/Release/net6.0/HotelFinder.DataAcces.GeneratedMSBuildEditorConfig.editorconfig
