################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HotelFinder.DataAcces/obj/Debug/net6.0/HotelFinder.DataAcces.csproj.AssemblyReference.cache
/HotelFinder.Business/obj/Debug/net6.0/HotelFinder.Business.csproj.AssemblyReference.cache
/.gitignore
